<a href="https://colab.research.google.com/github/Sinchana-Chaluvaraju/Practice_on_Colab/blob/main/Pythonpractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("Hello, World")

Hello, World

In [ ]:
#Python Syntax (Indentation)
if 5 > 2:
  print ("Five is greater than two!")

Five is greater than two!

In [ ]:
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!

In [ ]:
#Python Variables
x = 5
y = "Hello world"
print ('x=', x)
print ('y=', y)

x= 5
y= Hello world

In [ ]:
"""
This is
a
multiline comment
"""
print ("Hello World")

Hello World

In [ ]:
#Python Variables
x= 5
x= "Sinchana"
print(x)

Sinchana

In [ ]:
#casting: specifying the datatype of a variable
x= int(5)
y= float(5)
z= str(5)
print (x)
print (y)
print (z)

5
5.0
5

In [ ]:
#to get the datatype of a variable
x= 5
y= 6.6
z= "Sinchana"
print (type(x))
print (type(y))
print (type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
#legal variable names
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [ ]:
#Illegal names
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (<ipython-input-15-b561d81a3667>, line 2)

In [ ]:
#camel case
myVariableName = "Sinchana"
#Pascal case
MyVariableName = "Sinchana"
#snake case
my_variable_name = "Sinchana"

In [ ]:
#many values to multiple variables
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
#same values to multiple variables
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [ ]:
#unpacking a collection in list, tuple,etc
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [ ]:
#output variables use input functions
x = "Python"
y = "is"
z = "awesome"
a = 5
b = 10
print(a + b) # + is used as a mathematical operator
print(x, y, z) # Prints the value of variables separated by space
print(x + y + z) # In case of strings, + operator prints as one whole output

15
Python is awesome
Pythonisawesome

In [ ]:
#not a correct usage of + operator
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
#Global Variable: variable defined outside funtion
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [ ]:
# x being both global variable and a local variable inside function
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [ ]:
# global keyword
x = "awesome"

def myfunc():
  global x # changing the value of a global variable in function
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [ ]:
#Data Types
a = "Hello World" #string
b = 20 # int
c = 20.5 #float
d = 1j #complex
e = ["apple", "banana", "cherry"] #list
f = ("apple", "banana", "cherry")#tuple
g = {"name" : "Sinchana", "age" : "27"}#dict
h = {"apple", "banana", "cherry"}#set
i = frozenset ( { "apple", "banana", "cherry" } )#frozenset
j = range (6)# range
k = True# or False - boolean
l = b"Hello"# bytes
m = bytearray (5) #bytearray
n = memoryview ( bytes(5) ) #memory view
o = None #None type
print (a, b, c, d, e, f, g, h, i, j, k, l, m, n, o)

Hello World 20 20.5 1j ['apple', 'banana', 'cherry'] ('apple', 'banana', 'cherry') {'name': 'Sinchana', 'age': '27'} {'cherry', 'banana', 'apple'} frozenset({'cherry', 'banana', 'apple'}) range(0, 6) True b'Hello' bytearray(b'\x00\x00\x00\x00\x00') <memory at 0x783bfa66fac0> None

In [ ]:
#Setting the specific datatype
a = str("Hello World")
b = int(20) # int
c = float(20.5) #float
d = complex(1j) #complex
e = list(["apple", "banana", "cherry"])#list
f = tuple(("apple", "banana", "cherry"))#tuple
g = dict({"name" : "Sinchana", "age" : "27"})#dict
h = set({"apple", "banana", "cherry"})#set
i = frozenset ( { "apple", "banana", "cherry" } )#frozenset
j = range (6)# range
k = bool(5)# or False - boolean
l = bytes(5)# bytes
m = bytearray (5) #bytearray
n = memoryview(bytes(5)) #memory view access the internal data of an object's buffer without making a copy of it
o = None #None type represents absence of value
print (type(a), type(b), type(c), type(d), type(e), type(f), type(g), type(h), type(i), type(j), type(k), type(l), type(m), type(n), type(o))

<class 'str'> <class 'int'> <class 'float'> <class 'complex'> <class 'list'> <class 'tuple'> <class 'dict'> <class 'set'> <class 'frozenset'> <class 'range'> <class 'bool'> <class 'bytes'> <class 'bytearray'> <class 'memoryview'> <class 'NoneType'>

In [ ]:
#Python Numbers and its conversion
x = 1 #int
y = 2.8 #float
z = 1j #complex

#convert from int to float
a = float(x)

#convert from float to int
b = int(y)

#convert from int to complex
c = complex(z)

print(x)
print(y)
print(z)

print(type(a))
print(type(b))
print(type(c))

1
2.8
1j
<class 'float'>
<class 'int'>
<class 'complex'>

In [ ]:
#Random Numbers
import random
print(random.randrange(1, 10))

8

In [ ]:
#Python Casting Integers
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
print (x,  y, z)

1 2 3

In [ ]:
#Python Casting Float
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
print(x, y, z, w)

1.0 2.8 3.0 4.2

In [ ]:
#Python Casting strings
x = str("s1")
y = str(2)
z = str(3.0)
print(x, y, z)

s1 2 3.0

In [ ]:
#Quotes inside Quotes
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [ ]:
#multiline Strings
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""  #or 3 single quotes
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
#Strings are arrays
a = "Hello World"
print(a[1]) #antwort: e

#looping through string
for y in "banana":
  print(y)


#String length
print(len(a), len(y))

#check string
txt = "The best things in life are free!"
print("free" in txt) #bool output

#with if statement
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")


#check if NOT
msg = "Nothing is free in life!"
print("expensive" not in msg)

#Not in if statement
message = "Nothing is free in life"
if "expensive" not in message:
  print("No, 'expensive' is NOT present.")

e
b
a
n
a
n
a
11 1
True
Yes, 'free' is present.
True
No, 'expensive' is NOT present.

In [ ]:
#Slicing Strings
b = "Hello World!"
print(b[2:5])      #for my reference: counting from 0; first element position = 2; till desired position = 4th element (but have to mention 5)

llo

In [ ]:
#Slice from start
b = "Hello World!"
print(b[:5])

Hello

In [ ]:
#Slice to end
b = "Hello World!"
print(b[0:])

Hello World!

In [ ]:
#Negative Indexing
b = "Hello World!"
print(b[-5:-2])          #negative indexing is from -1 and not 0; if we need -2, we need to consider -3(l) not -2(d)

orl

In [ ]:
#Modify Strings
#Uppercase
a = "Hello, World!"
print(a.upper())

#Lower case
print(a.lower())

#Remove Whitespaces
b = "  Hello World!   "
print(b.strip())

#Replace String
print(a.replace("H", "J"))

#split string
print(a.split(","))

HELLO, WORLD!
hello, world!
Hello World!
Jello, World!
['Hello', ' World!']

In [ ]:
#String Concatenation = combine; concatinating
a = "Hello"
b = "World"
c = a + b
print(c)

#How to add space if needed?
c = a + " " + b
print(c)

HelloWorld
Hello World

In [ ]:
#Strings Format
#code following throws error instead use f-strings
#age = 26
#txt = "My name is Sinchana, I am " + age
#print(txt)

#F- strings
age = 26
txt = f"My name is Sinchana, I am {age}"
print(txt)

#Concept of placehoders and modifiers
price = 59
txt = f"Cost of the headset is {price} euros"
print(txt)

#To display the cost in decimals
price = 59
txt = f"Cost of the headset is {price: .2f} euros"
print(txt)

#can also insert some snipet of the code inside f- strings
txt = f"Cost of the headset is {36 * 5} euros"
print(txt)

My name is Sinchana, I am 26
Cost of the headset is 59 euros
Cost of the headset is  59.00 euros
Cost of the headset is 180 euros

In [ ]:
#Python- Escape characters
txt = "We are so called \"Vikikngs\" from the north."  #Double Quotes 1
txt = "We are so called \'Vikikngs\' from the north."  #Single Quotes 2
txt = "We are so called \\Vikikngs\\ from the north."  #Backslash 3
txt = "We are so called \nVikikngs\n from the north."  #Newline 4
txt = "We are so called \rVikikngs\r from the north."  #Carriage Return 5
txt = "We are so called \tVikikngs\t from the north."  #Tab 6
txt = "We are so called \bVikikngs\b from the north."  #backslash 7
txt = "We are so called \fVikikngs\f from the north."  #form feed 8

print(txt)

# Octal for 'A' (65 in decimal, 101 in octal) 8
s = "\101"
print(s)  # Output: 'A'

# Octal for 'Hello' ('H': 110, 'e': 145, 'l': 154, 'l': 154, 'o': 157)
t = "\110\145\154\154\157"
print(t)  # Output: 'Hello'


# Hexadecimal for 'A' (65 in decimal, 41 in hexadecimal) 9
u = "\x41"
print(u)  # Output: 'A'

# Hexadecimal for 'Hello' ('H': 48, 'e': 65, 'l': 6C, 'l': 6C, 'o': 6F)
v = "\x48\x65\x6C\x6C\x6F"
print(v)  # Output: 'Hello'

We are so called Vikikngs from the north.
A
Hello
A
Hello

In [ ]:
#Booleans
#Boolean Values
print(10 > 9)
print(10 == 100)
print(10 < 9)

#Boolean values with condition
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")



# Evaluate Values and variables
print(bool("Hello")) #evaluating string
print(bool(15))  #evaluating number

#Evaluating two variables
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
False
False
b is not greater than a
True
True
True
True

In [ ]:
#Most Values are true
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

In [ ]:
#Some Values are false
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [ ]:
class myclass():
  def __def__(self):
    return 0

myobj = myclass()
print(bool(myobj))

True

In [ ]:
#Functions can return a boolean
def myFunction():
  return True

print(myFunction())

True

In [ ]:
def myFunction():
  return True

if myFunction():
  print("Yes!")
else:
  print("No!")

Yes!

In [ ]:
x = 200
print(isinstance(x, int))

True

In [ ]:
#Arithmetic Operators
print(10 + 5)   #addition
print(10 - 5)   #subtraction
print(10 * 5)   #Multiplication
print(10 / 5)   #division
print(10 % 5)   #Modulus
print(10 ** 5)  #Exponention
print(10 // 5)  #Remainder

15
5
50
2.0
0
100000
2

In [ ]:
#Assignment operators
x = 5   #x=5
x += 3  #x=x+3
x -= 3  #x=x-3
x *= 3  #x=x*3
x /= 3  #x=x/3

# %=; //=; **=; &=; |/;

In [ ]:
#List
mylist = ["apple", "banana", "cherry", "cherry"]  #lists of duplicates
print(mylist)
print(len(mylist))   #length of the list
print(mylist[0]) #to print specific element

['apple', 'banana', 'cherry', 'cherry']
4
apple

In [ ]:
#List Items - Data Types
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

In [ ]:
#List with strings, integers, and boolean values
list1 = ["abc", 34, True, 40, "male"]
print(list1)
print(type(list1))

['abc', 34, True, 40, 'male']
<class 'list'>

In [ ]:
#list()-----> used to make a list
list1 = list(("apple", "banana", "cherry"))
print(list1)

['apple', 'banana', 'cherry']

In [ ]:
#Access list items
#Access Items
thislist = ["Apple", "Banana", "Cherry"]
print(thislist[1])
print(thislist[-1]) #negative indexing

Banana
Cherry

In [ ]:
#range of indexes
thislist = ["Apple", "Banana", "Cherry", "Orange", "Kiwi", "Melon", "Mango"]
print(thislist[2:5])
print(thislist[:5])
print(thislist[3:])
print(thislist[-4:-1])

['Cherry', 'Orange', 'Kiwi']
['Apple', 'Banana', 'Cherry', 'Orange', 'Kiwi']
['Orange', 'Kiwi', 'Melon', 'Mango']
['Orange', 'Kiwi', 'Melon']

In [ ]:
#if and in
thislist = ["Apple", "Banana", "Cherry", "Orange", "Kiwi", "Melon", "Mango"]
if "Apple" in thislist:
  print("Yes, Apple is in the fruit list")

Yes, Apple is in the fruit list

In [ ]:
#Change Item Value
list1 = ["Apple", "Banana", "Cherry"]
list1[1] = "blackcurrent"
print(list1)

['Apple', 'blackcurrent', 'Cherry']

In [ ]:
list1 = ["Apple", "Banana", "Cherry", "Orange", "Kiwi", "Mango"]
list1[1:3] = ["blackcurrent", "Watermelon"]
print(list1)

['Apple', 'blackcurrent', 'Watermelon', 'Orange', 'Kiwi', 'Mango']

In [ ]:
list1 = ["Apple", "Banana", "Cherry"]
list1[1:2] = ["Blackcurrent", "Watermelon"]
print(list1)

['Apple', 'Blackcurrent', 'Watermelon', 'Cherry']

In [ ]:
#replacing second and third value
list1 = ["Apple", "Banana", "Cherry"]
list1[1:3] = ["Watermelon"]
print(list1)

['Apple', 'Watermelon']

In [ ]:
#inserting "Watermelon" as 3rd vale
list1 = ["Apple", "Banana", "Cherry", "Orange", "Kiwi", "Mango"]
list1.insert(2, "Watermelon")
print(list1)

['Apple', 'Banana', 'Watermelon', 'Cherry', 'Orange', 'Kiwi', 'Mango']

In [ ]:
#adding list items
#append
list1 = ["Apple", "Banana", "Cherry", "Kiwi", "Mango"]
list1.append("orange")
print(list1)

['Apple', 'Banana', 'Cherry', 'Kiwi', 'Mango', 'orange']

In [ ]:
#insert items
list1 = ["Apple", "Banana", "Cherry", "Kiwi", "Mango"]
list1.insert(1, "orange")
print(list1)

['Apple', 'orange', 'Banana', 'Cherry', 'Kiwi', 'Mango']

In [ ]:
#extending list
list1 = ["Apple", "Banana", "Cherry"]
list2 = ["Orange", "Kiwi", "Mango"]
list1.extend(list2)
print(list1)

['Apple', 'Banana', 'Cherry', 'Orange', 'Kiwi', 'Mango']

In [ ]:
#Adding any iterable
#Adding elements of a tuple to a list
list1 = ["Apple", "Banana", "Cherry", "Orange"]
tuple1 = ("Kiwi", "Mango")
list1.extend(tuple1)
print(list1)

['Apple', 'Banana', 'Cherry', 'Orange', 'Kiwi', 'Mango']