<a href="https://colab.research.google.com/github/Sinchana-Chaluvaraju/Practice_on_Colab/blob/main/Pythonpractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("Hello, World")

Hello, World

In [ ]:
#Python Syntax (Indentation)
if 5 > 2:
  print ("Five is greater than two!")

Five is greater than two!

In [ ]:
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!

In [ ]:
#Python Variables
x = 5
y = "Hello world"
print ('x=', x)
print ('y=', y)

x= 5
y= Hello world

In [ ]:
"""
This is
a
multiline comment
"""
print ("Hello World")

Hello World

In [ ]:
#Python Variables
x= 5
x= "Sinchana"
print(x)

Sinchana

In [ ]:
#casting: specifying the datatype of a variable
x= int(5)
y= float(5)
z= str(5)
print (x)
print (y)
print (z)

5
5.0
5

In [ ]:
#to get the datatype of a variable
x= 5
y= 6.6
z= "Sinchana"
print (type(x))
print (type(y))
print (type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
#legal variable names
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [ ]:
#Illegal names
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (<ipython-input-15-b561d81a3667>, line 2)

In [ ]:
#camel case
myVariableName = "Sinchana"
#Pascal case
MyVariableName = "Sinchana"
#snake case
my_variable_name = "Sinchana"

In [ ]:
#many values to multiple variables
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
#same values to multiple variables
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [ ]:
#unpacking a collection in list, tuple,etc
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [ ]:
#output variables use input functions
x = "Python"
y = "is"
z = "awesome"
a = 5
b = 10
print(a + b) # + is used as a mathematical operator
print(x, y, z) # Prints the value of variables separated by space
print(x + y + z) # In case of strings, + operator prints as one whole output

15
Python is awesome
Pythonisawesome

In [ ]:
#not a correct usage of + operator
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
#Global Variable: variable defined outside funtion
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [ ]:
# x being both global variable and a local variable inside function
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [ ]:
# global keyword
x = "awesome"

def myfunc():
  global x # changing the value of a global variable in function
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [ ]:
#Data Types
a = "Hello World" #string
b = 20 # int
c = 20.5 #float
d = 1j #complex
e = ["apple", "banana", "cherry"] #list
f = ("apple", "banana", "cherry")#tuple
g = {"name" : "Sinchana", "age" : "27"}#dict
h = {"apple", "banana", "cherry"}#set
i = frozenset ( { "apple", "banana", "cherry" } )#frozenset
j = range (6)# range
k = True# or False - boolean
l = b"Hello"# bytes
m = bytearray (5) #bytearray
n = memoryview ( bytes(5) ) #memory view
o = None #None type
print (a, b, c, d, e, f, g, h, i, j, k, l, m, n, o)

Hello World 20 20.5 1j ['apple', 'banana', 'cherry'] ('apple', 'banana', 'cherry') {'name': 'Sinchana', 'age': '27'} {'cherry', 'banana', 'apple'} frozenset({'cherry', 'banana', 'apple'}) range(0, 6) True b'Hello' bytearray(b'\x00\x00\x00\x00\x00') <memory at 0x783bfa66fac0> None

In [ ]:
#Setting the specific datatype
a = str("Hello World")
b = int(20) # int
c = float(20.5) #float
d = complex(1j) #complex
e = list(["apple", "banana", "cherry"])#list
f = tuple(("apple", "banana", "cherry"))#tuple
g = dict({"name" : "Sinchana", "age" : "27"})#dict
h = set({"apple", "banana", "cherry"})#set
i = frozenset ( { "apple", "banana", "cherry" } )#frozenset
j = range (6)# range
k = bool(5)# or False - boolean
l = bytes(5)# bytes
m = bytearray (5) #bytearray
n = memoryview(bytes(5)) #memory view access the internal data of an object's buffer without making a copy of it
o = None #None type represents absence of value
print (type(a), type(b), type(c), type(d), type(e), type(f), type(g), type(h), type(i), type(j), type(k), type(l), type(m), type(n), type(o))

<class 'str'> <class 'int'> <class 'float'> <class 'complex'> <class 'list'> <class 'tuple'> <class 'dict'> <class 'set'> <class 'frozenset'> <class 'range'> <class 'bool'> <class 'bytes'> <class 'bytearray'> <class 'memoryview'> <class 'NoneType'>

In [ ]:
#Python Numbers and its conversion
x = 1 #int
y = 2.8 #float
z = 1j #complex

#convert from int to float
a = float(x)

#convert from float to int
b = int(y)

#convert from int to complex
c = complex(z)

print(x)
print(y)
print(z)

print(type(a))
print(type(b))
print(type(c))

1
2.8
1j
<class 'float'>
<class 'int'>
<class 'complex'>

In [ ]:
#Random Numbers
import random
print(random.randrange(1, 10))

8

In [ ]:
#Python Casting Integers
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
print (x,  y, z)

1 2 3

In [ ]:
#Python Casting Float
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
print(x, y, z, w)

1.0 2.8 3.0 4.2

In [ ]:
#Python Casting strings
x = str("s1")
y = str(2)
z = str(3.0)
print(x, y, z)

s1 2 3.0

In [ ]:
#Quotes inside Quotes
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [ ]:
#multiline Strings
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""  #or 3 single quotes
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
#Strings are arrays
a = "Hello World"
print(a[1]) #antwort: e

#looping through string
for y in "banana":
  print(y)


#String length
print(len(a), len(y))

#check string
txt = "The best things in life are free!"
print("free" in txt) #bool output

#with if statement
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")


#check if NOT
msg = "Nothing is free in life!"
print("expensive" not in msg)

#Not in if statement
message = "Nothing is free in life"
if "expensive" not in message:
  print("No, 'expensive' is NOT present.")

e
b
a
n
a
n
a
11 1
True
Yes, 'free' is present.
True
No, 'expensive' is NOT present.

In [ ]:
#Slicing Strings